<section class="thirteen columns">
    <h1>About</h1>
    <article>
        <p>
            I am an assistant professor in School of Computer Science and Engineering at Chung-Ang University.
            Before I joined CAU, I worked at Pacific Northwest National Labotratory (PNNL) and University of Utah as a postdoc.
            I received my Ph.D. from the Ohio State University in August 2019 and my M.E. and B.E. from Chung-Ang University in Feb. 2012 ad Feb. 2010, respectively.            
        </p>
    </article>
</section>
