<section class="thirteen columns">
    <h1> High-Performance Computing Laboratory</h1>
    <article>
        <p><b>
            For more information, please visit the <a href="https://hpcl.cau.ac.kr">lab's website: https://hpcl.cau.ac.kr</a>.
        </b></p>
    </article>
    <h1>About</h1>
    <article>
        <p>
            I am an assistant professor in School of Computer Science and Engineering at Chung-Ang University.
            Before I joined CAU, I worked at Pacific Northwest National Labotratory (PNNL) and University of Utah as a postdoc.
            I received my Ph.D. from the Ohio State University in August 2019 and my M.E. and B.E. from Chung-Ang University in Feb. 2012 ad Feb. 2010, respectively.            
        </p>
    </article>
    <h1>Notice</h1>
    <article>
        <p>
            I have interest in advising self-motivated undergraduate and graduate students. 
            Please email me if you are passionate about research related to HPC(High-Performance Computing) including GPUs and ML(Machine-Learning)-HPC.
            <br>
            고성능컴퓨팅 연구실에서는 GPU기반 고성능컴퓨팅 환경에서의 병렬처리 및 최적화 연구를 같이 할 대학원생과 학부연구생을 모집합니다. 
            관심 있는 학생분들께서는 연락 주시길 바랍니다. (kimjsung@cau.ac.kr)
        </p>
    </article>
</section>
