<section class="thirteen columns">
        <h1>Education</h1>
        <article>
            <header>
                <h1>Ph.D. in Computer Science and Engineering</h1>
                <span>The Ohio State University</span>
                <span><address>Columbus, OH, USA</address><time>2012 to present</time></span>
            </header>
            <!--<p>
                <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
            </p>-->
        </article>
        <article>
            <header>
                <h1>M.E. in Computer Science and Engineering</h1>
                <span>Chung-Ang University</span>
                <span><address>Seoul, South Korea</address><time>2010 to 2012</time></span>
            </header>
        </article>
        <article>
                <header>
                    <h1>B.E. in Computer Science and Engineering</h1>
                    <span>Chung-Ang University</span>
                    <span><address>Seoul, South Korea</address><time>2004 to 2010</time></span>
                </header>
            </article>
    </section>
    