<section class="thirteen columns">
    <h1>Patents</h1>
    <article>
        <header>
            <h1>Log Data Clustering Analysis System and the Method for Learning-based Home Network Error Recognition System</h1>
        </header>
        <p>Korea Patent No. 10-1213863, December 2012</p>
        <p>Sung Jo Kim, Sang Oh Park, Kyung Jin Kang, Tae Hoon Do, Hyung Soo Kim, <em>Jin Sung Kim</em>, Jung Do Choi</p>
    </article>

    <article>
        <header>
            <h1>Object-based Middleware System and the Method for Home Network System</h1>
        </header>
        <p>Korea Patent No. 10-1189433, October 2012</p>
        <p>Sung Jo Kim, Sang Oh Park, Kyung Jin Kang, Tae Hoon Do, Hyung Soo Kim, <em>Jin Sung Kim</em>, Jung Do Choi</p>
    </article>

    <article>
        <header>
            <h1>An Efficient Device Searching System and the Method in Cyber-Physical System</h1>
        </header>
        <p>Korea Patent No. 10-1189338, October 2012</p>
        <p>Sung Jo Kim, Sang Oh Park, Kyung Jin Kang, Tae Hoon Do, Hyung Soo Kim, <em>Jin Sung Kim</em>, Jung Do Choi</p>
    </article>

    <article>
        <header>
            <h1>Load Balancing Management System and the Method for Controlling in Cyber-Physical System</h1>
        </header>
        <p>Korea Patent No. 10-1180997, Sepember 2012</p>
        <p>Sung Jo Kim, Sang Oh Park, Kyung Jin Kang, Tae Hoon Do, Hyung Soo Kim, <em>Jin Sung Kim</em>, Jung Do Choi</p>
    </article>

    <article>
        <header>
            <h1>A Dynamic Integration among Heterogeneous Middleware, Memory Management System and the Method for Controller in Cyber-Physical System</h1>
        </header>
        <p>Korea Patent No. 10-1148364, May 2012</p>
        <p>Sung Jo Kim, Sang Oh Park, Kyung Jin Kang, Tae Hoon Do, Hyung Soo Kim, <em>Jin Sung Kim</em>, Jung Do Choi</p>
    </article>
</section>
