<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1>Tensor Cores-Adapted Sparse Matrix Multiplication for Accelerating Sparse Deep Neural Networks</h1>
        </header>
        <p>Electronics, October 2024</p>
        <p>Yoonsang Han, Inseo Kim, <em>Jinsung Kim</em>, Gordon Euhyun Moon</p>
    </article>
    
    <article>
        <header>
            <h1>Exploring Attention Sparsity to Accelerate Transformer Training on GPUs</h1>
        </header>
        <p>IEEE Access, July 2024</p>
        <p>Bokyeong Yoon, Ah-Hyun Lee, <em>Jinsung Kim</em>, Gordon Euhyun Moon</p>
    </article>

    <article>
        <header>
            <h1>GPU-accelerated non-dominated sorting genetic algorithm III for maximizing protein production</h1>
        </header>
        <p>Electronic Research Archive, March 2024</p>
        <p>Donghyeon Kim, <em>Jinsung Kim</em></p>
    </article>

    <article>
        <header>
            <h1>TAMM: Tensor algebra for many-body methods</h1>
        </header>
        <p>The Journal of Chemical Physics, July 2023</p>
        <p>Erdal Mutlu, Ajay Panyala, Nitin Gawande, Abhishek Bagusetty, Jeffrey Glabe, <em>Jinsung Kim</em>, Karol Kowalski, Nicholas P Bauman, Bo Peng, Himadri Pathak, Jiri Brabec, Sriram Krishnamoorthy</em></p>
    </article>

    <article>
        <header>
            <h1>Optimization of designing multiple genes encoding the same protein based on NSGA-II for efficient execution on GPUs</h1>
        </header>
        <p>Electronic Research Archive, July 2023</p>
        <p>Donghyeon Kim, <em>Jinsung Kim</em></p>
    </article>

    <article>
        <header>
            <h1>Analysis of Several Sparse Formats for Matrices used in Sparse-Matrix Dense-Matrix Multiplication for Machine Learning on GPUs</h1>
        </header>
        <p>2022 13th International Conference on Information and Communication Technology Convergence (ICTC), October 2022</p>
        <p>Donghyeon Kim, <em>Jinsung Kim</em></p>
    </article>

    <article>
        <header>
            <h1>Analysis of Sub-Routines in NVIDIA cuBLAS Library for a series of Matrix-Matrix Multiplications in Transformer</h1>
        </header>
        <p>2022 13th International Conference on Information and Communication Technology Convergence (ICTC), October 2022</p>
        <p>Donghyeon Kim, Inseo Kim, <em>Jinsung Kim</em></p>
    </article>

    <article>
        <header>
            <h1>Approaching Coupled Cluster Theory with Perturbative Triples using SYCL</h1>
        </header>
        <p>Proceedings of the 9th International Workshop on OpenCL, April 2021</p>
        <p>Abhishek Bagusetty, <em>Jinsung Kim</em>, Ajay Panyala, Alvaro Vazquez-Mayagoitia, Karol Kowalski, Sriram Krishnamoorthy</p>
    </article>
    
    <article>
        <header>
            <h1>Scalable Heterogeneous Execution of a Coupled-Cluster Model with Perturbative Triples</h1>
        </header>
        <p>International Conference for High Performance Computing, Networking, Storage and Analysis (SC), November 2020</p>
        <p><em>Jinsung Kim</em>, Ajay Panyala, Bo Peng, Karol Kowalski, P Sadayappan, and Sriram Krishnamoorthy</p>
    </article>
    <article>
        <header>
            <h1>Parallel Data-Local Training for Optimizing Word2Vec Embeddings for Word and Graph Embeddings</h1>
        </header>
        <p>2019 IEEE/ACM Workshop on Machine Learning in High Performance Computing Environments (MLHPC), November 2019</p>
        <p>Gordon E Moon, Denis Newman-Griffis, <em>Jinsung Kim</em>, Aravind Sukumaran-Rajam, Eric Fosler-Lussier, P Sadayappan</p>
    </article>
    
    <article>
        <header>
            <h1>A Code Generator for High-Performance Tensor Contractions on GPUs</h1>
        </header>
        <p>International Symposium on Code Generation and Optimization (CGO), February 2019</p>
        <p><em>Jinsung Kim</em>, Aravind Sukumaran-Rajam, Vineeth Thumma, Sriram Krishnamoorthy, Ajay Panyala, Louis-Noel Pouchet, Atanas Rountev, P. Sadayappan</p>
    </article>

    <article>
        <header>
            <h1>Optimizing Tensor Contractions in CCSD (T) for Efficient Execution on GPUs</h1>
        </header>
        <p>International Conference on Supercomputing (ICS), June 2018</p>
        <p><em>Jinsung Kim</em>, Aravind Sukumaran-Rajam, Changwan Hong, Ajay Panyala, Rohit Kumar Srivastava, Sriram Krishnamoorthy, P Sadayappan</p>
    </article>

    <article>
        <header>
            <h1>Efficient sparse-matrix multi-vector product on GPUs</h1>
        </header>
        <p>International Symposium on High-Performance Parallel and Distributed Computing (HDPC), June 2018</p>
        <p>Changwan Hong, Aravind Sukumaran-Rajam, Bortik Bandyopadhyay, <em>Jinsung Kim</em>, Süreyya Emre Kurt, Israt Nisa, Shivani Sabhlok, Ümit V Çatalyürek, Srinivasan Parthasarathy, P Sadayappan</p>
    </article>

    <article>
        <header>
            <h1>TTLG-An Efficient Tensor Transposition Library for GPUs</h1>
        </header>
        <p>IEEE International Parallel and Distributed Processing Symposium (IPDPS), May 2018</p>
        <p>Jyothi Vedurada, Arjun Suresh, Aravind Sukumaran Rajam, <em>Jinsung Kim</em>, Changwan Hong, Ajay Panyala, Sriram Krishnamoorthy, V Krishna Nandivada, Rohit Kumar Srivastava, P Sadayappan</p>
    </article>

    <article>
        <header>
            <h1>GPU Code Optimization using Abstract Kernel Emulation and Sensitivity Analysis</h1>
        </header>
        <p>ACM SIGPLAN Symposium on Principles and Practice of Parallel Programming (PLDI), February 2018</p>
        <p>Changwan Hong, Aravind Sukumaran-Rajam, <em>Jinsung Kim</em>, Prashant Singh Rawat, Sriram Krishnamoorthy, Louis-Noël Pouchet, Fabrice Rastello, P Sadayappan</p>
    </article>

    <article>
        <header>
        <h1>
            MultiGraph: Efficient Graph Processing on GPUs
        </h1>
        </header>
        <p>
            International Conference on Parallel Architectures and Compilation Techniques (PACT), September 2017
        </p>
        <p>
            Changwan Hong, Aravind Sukumaran-Rajam, <em>Jinsung Kim</em>, P Sadayappan
        </p>
    </article>

    <article>
        <header>
        <h1>
            A Domain-Specific Compiler for a Parallel Multiresolution Adaptive Numerical Simulation Environment
        </h1>
        </header>
        <p>
            ACM/IEEE International Conference for High Performance Computing, Networking, Storage and Analysis (SC), November 2016
        </p>
        <p>
            Samyam Rajbhandari, <em>Jinsung Kim</em>, Sriram Krishnamoorthy, Louis-Noel Pouchet, Fabrice Rastello, Robert J Harrison, P. Sadayappan
        </p>
    </article>
    <article>
        <header>
        <h1>
            On Fusing Recursive Traversals of K-d Trees
        </h1>
        </header>
        <p>
            International Conference on Compiler Construction (CC), March 2016
        </p>
        <p>
            Samyam Rajbhandari, <em>Jinsung Kim</em>, Sriram Krishnamoorthy, Louis-Noël Pouchet, Fabrice Rastello, Robert J Harrison, P. Sadayappan
        </p>
    </article>
    <article>
        <header>
        <h1>
            An Object-based Middleware Supporting Efficient Interoperability on a Smart Home Network
        </h1>
        </header>
        <p>
            Multimedia tools and applications, March 2013
        </p>
        <p>
            Sang Oh Park, <em>Jin Sung Kim</em>, Sung Jo Kim
        </p>
    </article>
    <article>
        <header>
        <h1>
            An Object-based Middleware for Home Network Supporting the Interoperability among Heterogeneous Devices
        </h1>
        </header>
        <p>
            IEEE International Conference on Consumer Electronics (ICCE), January 2011
        </p>
        <p>
            <em>Jin Sung Kim</em>, Sung Jo Kim
        </p>
    </article>
</section>
